VITE_API_URL=http://localhost:3000/api
VITE_MANUFACTURER_ADDRESS=
VITE_DEALER_ADDRESS=
VITE_DLT_OFFICER_ADDRESS=
VITE_CONSUMER_ADDRESS=
VITE_LENDER_ADDRESS=
VITE_INSURER_ADDRESS=
VITE_SERVICE_PROVIDER_ADDRESS=
VITE_INSPECTOR_ADDRESS=
